@import url('../fonts/Montserrat/Montserrat.css');
body {
    font-family: 'Montserrat', sans;
    font-weight: 300;
    font-size: 0.75em;
}

.content {
    padding: 0.5rem 1rem;
    margin-bottom: 240px;
}

.btn {
    font-size: 0.85rem;
    font-family: inherit;
}


.navbar {
    border-bottom: 1px solid lightgrey;
    font-size: 0.85rem;
}

.logo {
    max-width: 100%;
    margin-top: 12px;
    margin-bottom: 2em;
    height: 3.5rem;
    margin-right: 3.75em;
}

.navbar form input,
.navbar form button {
    font-size: inherit;
}

.navbar h4 {
    font-weight: bold;
    margin-right: 2%;
    border-bottom: 2px solid lightcoral;
    padding-bottom: 6px;
    padding-top: 9px;
}

.nav li {
    margin: 0px;
    margin-right: 1rem;
}

.nav li:last-child {
    margin: 0px;
}

.nav .nav-link:hover {
    color: #333;
    text-decoration: underline;
}

.nav .nav-link.activePage {
    background-color: lightblue;
    border-radius: 6px;
    color: #111;
}

.searchArea {
    float: right;
    margin: 1em 0px;
}

.input-group input,
.input-group select {
    font-size: 0.75rem;
    position: relative;
}

.input-group .form-check input {
    height: 100%;
    line-height: 1.6rem;
}

.input-group .form-check {
    font-size: 0.75rem;
    margin-top: -0.5em;
    margin-left: 1em;
}

.input-group .form-check label {
    font-size: 0.75rem;
    line-height: 0px;
    padding: 0px;
    margin: -0.7em 0px;
    padding: 0px 6px;
    vertical-align: text-top;
}

.input-group .form-control:hover::placeholder {
    text-decoration: underline;
}

.input-group .form-control::placeholder {
    font-style: italic;
}

.input-group .form-control:required::placeholder {
    color: #a00;
    font-style: italic;
}

.input-group .form-control:required:hover::placeholder,
.input-group .form-control:required:focus::placeholder {
    color: red;
}

.input-group-text {
    min-width: 13.8em;
    max-width: 13.8em;
    font-size: 0.8rem;
}

.storage-area {
    clear: both;
    padding: 6px 8px;
    border-radius: 12px;
}

.storage-area .btn.smallButton {
    float: left;
    margin-top: 0px;
    padding: 0px;
    margin-right: 14px;
}

.storage-area .alert-info,
.categories .alert-info {
    clear: both;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    font-weight: 500;
}

.storage-area .alert,
.categories .alert {
    list-style-type: none;
    margin: 0px;
}


.list-group-item .btn {
    height: 1.95em;
    padding-top: 0.125rem;
    font-size: 0.75rem;
}

.list-group-item .removalButton.btn {
    font-size: 1.15rem;
    padding-top: 0px;
    height: auto;
}

.removalButton {
    padding-left: 0px;
}

.list-span {
    margin-right: 0.1em;
    display: inline-block;
    font-size: 0.75rem;
}

.headSubcategories {
    list-style: none;
    padding: 6px 18px;
}

.headSubcategories li {
    padding: 6px 0px;
}

.small {
    font-size: 0.9rem;
}

.fa,
.fas,
.far,
.fal,
.fab {
    font-size: 1.5em;
}

a.fas:hover,
a.far:hover {
    text-decoration: none;
}

.categories .list-span,
.categories .list-span:nth-child(0n+1) {
    min-width: 15%;
}

.categories li.alert-info .list-span:nth-child(0n+2),
.categories li.list-group-item .list-span:nth-child(0n+2) {
    min-width: 15%;
}

.storage-area li.alert-info .list-span,
.storage-area li.alert-info .list-span:nth-child(0n+1),
.storage-area li.list-group-item .list-span:nth-child(0n+2) {
    min-width: 10%;
}

.storage-area li.alert-info .list-span:nth-child(0n+2),
.storage-area li.list-group-item .list-span:nth-child(0n+3) {
    min-width: 13.5%;
}

.storage-area li.alert-info .list-span:nth-child(0n+3),
.storage-area li.list-group-item .list-span:nth-child(0n+4) {
    min-width: 6%;
}

.storage-area li.alert-info .list-span:nth-child(0n+4),
.storage-area li.list-group-item .list-span:nth-child(0n+5) {
    min-width: 15%;
}

.storage-area li.alert-info .list-span:nth-child(0n+5),
.storage-area li.list-group-item .list-span:nth-child(0n+6) {
    min-width: 16%;
}

.storage-area li.alert-info .list-span:nth-child(0n+6),
.storage-area li.list-group-item .list-span:nth-child(0n+7) {
    min-width: 10%;
    margin-right: 1.5em;
}

.storage-area li.alert-info .list-span:nth-child(0n+7) {
    min-width: 10%;
}

.storage-area li.list-group-item .list-span:nth-child(0n+8) {
    min-width: 8%;
}

.switchStorage {
    margin-left: 12px;
}

.list-span:last-of-type {
    border: none;
}

.list-span-btn {
    display: inline-block;
    width: 2.3rem;
}

.list-span:first-child {
    margin: 0px;
    margin-right: 3.4em;
}

.input-group .dropdown-toggle {
    min-width: 11rem;
}

.dropdown.list-span {
    margin-left: 13%;
}

.list-group-item:nth-of-type(2n+2) {
    background-color: #f8f9fa;
}

.storeSrcDiv {
    margin-right: 21px;
}

.storageListing {
    width: 38%;
    padding-left: 1%;
    float: left;
    margin-top: 30px;
}

.storageListing a {
    width: 96%;
    display: inline-block;
    font-size: 1.35em;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 4%;
    padding-right: 4%;
    text-align: left;
}

.storageListing a.moving {
    text-align: center;
}

.storageListing a:nth-of-type(2n+1) {
    background-color: #f8f9fa;
}

#transferButton {
    margin-top: 30px;
    margin-right: 4%;
}

ul.existingFields {
    padding: 0px;
    margin: 0px;
    width: 100%;
    padding: 4px 10px;
    font-weight: bold;
    min-height: 40px;
    max-height: 300px;
    overflow-y: scroll;
}

ul.existingFields li {
    padding: 4px 14px;
    border-radius: 4px;
    margin-bottom: 1.3em;
    cursor: pointer;
}

.clearfix {
    clear: both;
}

.hidden {
    visibility: hidden !important;;
    display: none;
}

.nodisplay {
    display: none !important;
}

.green,
.red,
.blue {
    /*margin: 1rem 1.5rem;*/
    margin: 1rem 0px;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    min-width: 52%;
    font-weight: bold;
}

.green p,
.red p,
.blue p {
    padding: 0px;
    margin: 0px;
}

.green {
    background-color: green;
    color: whitesmoke;
}

.red {
    background-color: red;
    color: whitesmoke;
}

.blue {
    background-color: blue;
    color: whitesmoke;
}

.footer {
    bottom: 12px;
    position: fixed;
    left: 12px;
    z-index: 1;
    background-color: #f8f9fa;
}

.login-box {
    width: 350px;
    margin: 10% auto;
}

.login-box .input-group-text {
    min-width: unset;
}

.login-box .input-group input, .input-group select {
    height: unset;
}

.login-box .form-control[readonly] {
    background-color: white;
    cursor: no-drop;
}

i.picture {
    margin-right: 12px;
    color: inherit;
}

.uploadedImages {
    margin-top: 3em;
    display: flex;
    flex-wrap: wrap;
}

.uploadedImages .imgDiv {
    width: 200px;
    height: 200px;
    text-align: center;
    overflow: hidden;
    margin-right: 1rem;
    margin-bottom: 1rem;
    position: relative;
    border: 2px solid transparent;
}

.uploadedImages .imgDiv img {
    width: 200px;
    height: auto;
    cursor: zoom-in;
}

.uploadedImages .imgDiv:hover {
    border: 2px solid #333;
}

.imageOverlay {
    display: none;
    visibility: hidden;
    z-index: 99999;
    position: fixed;

}

.imageOverlay.active {
    display: block;
    visibility: visible;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    overflow: scroll;
    text-align: center;
    background-color: rgba(225,225,225,0.8);
    cursor: zoom-out;

}

.removeImageOverlay {
    position: absolute;
    right: 5px;
    bottom: 5px;
    text-shadow: 0px 0px 3px white;
    cursor: pointer;
    color: #000;
}

.imageOverlay .overlayedImaged {
    top: 5%;
    left: 0px;
    height: 90%;
    max-height: 90%;
}

.dropDown {
    min-height: 3em;
    max-height: 3.2em;
    padding: 0px;
    min-width: 13.8em;
    width: 13.8em;
    cursor: pointer;
}

.dropDown .fas {
    margin: 0px;
    padding: 0.3em;
    border: 1px solid transparent;
}

form[name="fieldData"] .dropDown {
    max-width: 150%;
    width: 150%;
}

.dropDown input {
    text-align: left;
    cursor: pointer;
    background: transparent;
    border-radius: 0px 4px 4px 0px;
    border: none;
    color: #000;
    margin: 0px;
    padding: 0.5em 0.75em;
    margin-left: 0.25em;
    min-width: 75%;
    transition-property: all;
    transition-duration: 300ms;
    transition-delay: 0ms;
    outline: none;
}

.dropDown input::placeholder {
    color: inherit;
}

.dropDown:hover input,
.dropDown:hover input::placeholder {
    color: whitesmoke;
}

.dropDown label {
    padding: 0px;
    margin: 0px;
    display: inline-block;
    width: inherit;
}

.dropDown input[type="checkbox"] {
    padding: 0px;
    margin: 0px;
    text-align: left;
    min-width: 2em;
    vertical-align: middle;
    height: 1.5em;
    width: 2em;
}

.dropDown .dropDownList {
    background-color: whitesmoke;
    overflow-y: scroll;
    position: absolute;
    left: 0px;
    text-align: left;
    top: 2.8em;
    max-height: 14em;
    border-radius: 0px 0px 8px 8px;
    border: 1px solid #aaa;
    border-top: 0px;
    height: 0px;
    transition-property: height;
    transition-duration: 700ms;
    transition-delay: 0ms;
    z-index: 1;
    width: inherit;
}

.dropDown:hover {
    color: whitesmoke;
}

.dropDown .dropDownList.hide {
    height: 0px;
    border: 0px;
}

.dropDown .dropDownList.show {
    height: auto;
    z-index: 99999;
    max-height: 12rem;
}

.dropDown .dropDownList span {
    padding: 0.33em 0.75em;
    display: block;
    color: whitesmoke;
    border-bottom: 1px solid lightgrey;
    width: 100%;
    color: grey;
}

.dropDown.multipleSelect .dropDownList span {
    padding: 0px;
    position: relative;
    left: 0px;
    top: 0px;
}

.dropDown.multipleSelect .dropDownList label {
    padding: 0.33em 0.13em;
    cursor: pointer;
}

.dropDown.multipleSelect .dropDownList input {
    margin: 0px;
    padding: 0px;
}

.dropDown .dropDownList span:hover,
.dropDown .dropDownList span[selected]:hover,
.dropDown .dropDownList span:focus,
.dropDown .dropDownList label:focus {
    background-color: slategray;
    color: whitesmoke;
}

.dropDown .dropDownList span[selected],
.dropDown .dropDownList option[selected] {
    background-color: lightblue;
    color: #333;
}

.dropDown .dropDownList span:last-child {
    border-bottom: 0px;
}

.customFieldWrapper {
    display: inline;
}

.customFieldWrapper .form-control {
    font-style: italic;
}

.customFieldWrapper.hidden {
    display: none;
}

.customFieldWrapper .customFieldTitle {
    background-color: bisque;
    padding: 4px 12px;
    font-weight: bold;
    width: 100%;
    display: inline-block;
    border-radius: 6px 6px 0px 0px;
}

input.errorInt,
input.errorFloat,
input.errorString {
    background-color: orange;
}
