/** =================== MONTSERRAT =================== **/


/** Montserrat Light **/

@font-face {
    font-family: "Montserrat";
    font-weight: 300;
    font-style: normal;
    src: url("Montserrat-Light.eot");
    src: url("Montserrat-Light.eot?#iefix") format('embedded-opentype'), url("Montserrat-Light.woff2") format("woff2"), url("Montserrat-Light.woff") format("woff");
}


/** Montserrat Medium **/

@font-face {
    font-family: "Montserrat";
    font-weight: 500;
    font-style: normal;
    src: url("Montserrat-Medium.eot");
    src: url("Montserrat-Medium.eot?#iefix") format('embedded-opentype'), url("Montserrat-Medium.woff2") format("woff2"), url("Montserrat-Medium.woff") format("woff");
}