networks:
  sqstorage:
    name: sqstorage

services:
  php:
    image: sqstorage:master
    build: .
    volumes:
      - www-app:/app:rw
    working_dir: /app
    entrypoint: ["php-fpm", "-F"]
    env_file:
      - .env
    depends_on:
      db:
        condition: service_healthy
    healthcheck:
      test: ["CMD", "php", "--version"]
      interval: 10s
      timeout: 5s
      retries: 3
    networks:
      - sqstorage

  db:
    image: mariadb:latest
    hostname: ${DB_HOST}
    env_file:
      - .env
    environment:
      - MARIADB_RANDOM_ROOT_PASSWORD=1
    healthcheck:
      test: ["CMD", "healthcheck.sh", "--connect", "--innodb_initialized"]
      start_period: 5s
      interval: 10s
      timeout: 5s
      retries: 3
    networks:
      - sqstorage
    volumes:
      - db-data:/var/lib/mysql:rw
      - ./support/initdb.sql/:/docker-entrypoint-initdb.d/initdb.sql:ro

  web:
    build:
      context: .
      dockerfile: nginx.Dockerfile
    ports:
      - "1337:80"
    volumes:
      - www-app:/app:rw
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost"]
      interval: 1m30s
      timeout: 10s
      retries: 3
    depends_on:
      - php
    networks:
      - sqstorage

volumes:
  www-app:
  db-data:
