# docker environment file
DB_USER=tlvUser
DB_PASSWORD=tlvUser
DB_NAME=tlv
DB_HOST=db
DB_PORT=3306
USE_REGISTRATION=false
USE_PRETTY_URLS=false

MARIADB_DATABASE=${DB_NAME}
MARIADB_USER=${DB_USER}
MARIADB_PASSWORD=${DB_PASSWORD}
MARIADB_ROOT_HOST=${DB_HOST}

PHP_CRUD_API_DRIVER=mysql
PHP_CRUD_API_ADDRESS=${DB_HOST}
PHP_CRUD_API_PORT=${DB_PORT}
PHP_CRUD_API_DATABASE=${DB_NAME}
PHP_CRUD_API_USERNAME=${DB_USER}
PHP_CRUD_API_PASSWORD=${DB_PASSWORD}
PHP_CRUD_API_DEBUG=1
